body {
    margin: 20px 300px;
}

#content {
}

#section {
}

.title {
    font-size: 200%;
    font-weight: bold;
}

.desc {
    margin: 0 20px;
}

#header {
}

#header .nav {
    display: inline-block;
}

#header .nav {
    height: 30px;
    line-height: 30px;
    position: relative;
    margin: 5px 1px 0 0;
    text-indent: 35px;
    width: 100px;
}

#header .nav:before {
    border-color: transparent transparent transparent #ffffff;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    content: " ";
    height: 0;
    left: -2px;
    position: absolute;
    width: 0;
    z-index: 0;
}

#header .nav a {
    background: #3C1527;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}
#header .nav a:after {
    border-color: transparent transparent transparent #3C1527;
    border-width: 15px 0 15px 15px;
    border-style: solid;
    content: " ";
    height: 0;
    position: absolute;
    right: -15px;
    width: 0;
    z-index: 10;
}
/*
#header .nav a:active {
    background: #C5352A;
    z-index: 100;
}

#header .nav:active a:after {
    border-left-color: #C5352A;
}
*/

#header .nav a:hover {
    background: #B11D1B;
    color: #FFFFFF;
}

#header .nav a:hover:after {
    border-color: transparent transparent transparent #B11D1B; 
}
