{% extends "base.html" %}
{% block title %}About - Self Destructing Notes{% endblock %}
{% block content %}
    <p>This site is powered by <a
    href="https://github.com/atoponce/d-note">d-note</a>, a Free and Open
    Source Python web application written in Flask. d-note is a self
    destructing notes application. The idea comes from spy movies, such as
    Mission Impossible, where the spy will receive his next assignment,
    shortly after which the message will self-destruct. Message self-destruct
    after 3 minutes of being viewed. Unread notes will self-destruct 30 days
    after creation.</p>
{% endblock %}
