<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('index') }}static/css/main.css"/>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/main.js"></script>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="header">
        <span class="nav"><a href="{{ url_for('index') }}">Home</a></span>
        <span class="nav"><a href="{{ url_for('security') }}">Security</a></span>
        <span class="nav"><a href="{{ url_for('faq') }}">FAQ</a></span>
        <span class="nav"><a href="{{ url_for('about') }}">About</a></span>
    </div>
    <noscript><p>Please enable JavaScript in your browser for better use of the website.</p></noscript>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
    
    </div>
  </body>
</html>
