{% extends "base.html" %}
{% block title %}FAQ - Self Destructing Notes{% endblock %}
{% block content %}
    <ul>
        <li>How are notes stored on the server?</li>
        <li>How secure is Blowfish encryption?</li>
        <li>How can I send my note?</li>
        <li>How do I undo sending a note?</li>
        <li>Can I send a note to multiple recipients?</li>
        <li>How secure is the shared password on the server?</li>
        <li>How secure is the private password?</li>
        <li>What is a duress key?</li>
        <li>Why am I forced to use JavaScript?</li>
        <li>What is a hashcash token?</li>
        <li>What are browser fingerprints?</li>
        <li>How secure is my note really?</li>
        <li>Are there any backdoors?</li>
        <li>Are you sharing my data with the NSA, MI6, KGB, etc.?</li>
    </ul>
    <h2>How are notes stored on the server?</h2>
    <h2>How secure is Blowfish encryption?</h2>
    <h2>How can I send my note?</h2>
    <h2>How do I undo sending a note?</h2>
    <h2>Can I send a note to multiple recipients?</h2>
    <h2>How secure is the shared password on the server?</h2>
    <h2>How secure is the private password?</h2>
    <h2>What is a duress key?</h2>
    <h2>Why am I forced to use JavaScript?</h2>
    <h2>What is a hashcash token?</h2>
    <h2>What are browser fingerprints?</h2>
    <h2>How secure is my note really?</h2>
    <h2>Are there any backdoors?</h2>
    <h2>Are you sharing my data with the NSA, MI6, KGB, etc.?</h2>
{% endblock %}
