{% extends "base.html" %}
{% block title %}Self Destructing Notes{% endblock %}
{% block head %}
    <script type="application/javascript" src="{{ url_for('index') }}static/js/hashcash.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/sha1.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/fingerprint.js"></script>
    <script type="application/javascript">
        var fingerprint = new Fingerprint().get();
    </script>
{% endblock %}
{% block content %}
    <p>Self destructing encrypted notes</p>
    <form method="POST" action="{{ url_for('show_post', new_url=random, _external=True) }}">
      <p>Paste your secret note here!</p>
      <textarea style="width:100%; height:250px" name="paste"></textarea>
      <br/>
      Passphrase (optional): <input style="font-family:monospace; width:250px;" type="text" name="pass" id="passphrase">
      <input type="button" value="Generate" onclick="document.getElementById('passphrase').value = make_key()">
      <br/>
      <input type="hidden" id="hashcash" name="hashcash">
      <input type="submit" id="submit" value="Submit" onclick="validate_token(fingerprint)">
    </form>
{% endblock %}
